<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="app">
            <h1>S3 Bucket Lister</h1>
            <p>This is an example webpage which lists your S3 buckets.</p>
            <p>Enter valid AWS credentials below: be assured, this webpage is entirely client-side and those credentials will not be saved anywhere.</p>
            <label>
                AWS Access Key:
                <input v-model="accessKey">
            </label> <br />
            <label>
                AWS Secret Key:
                <input v-model="secretKey">
            </label> <br />
            <button v-on:click="listBuckets">List Buckets</button>
            <br />
            <br />
            <span v-if="listingBuckets">Listing buckets, please wait ... </span>
            <span v-if="error">Error listing bucket: {{ errorText }}</span>
            <ul>
                <li v-for="bucket in buckets">
                    {{ bucket.Name }}
                </li>
            </ul>
            <iframe src="https://s3.amazonaws.com/euank-com-examples/pfff-cors/v2/proxy.html" v-on:load="iframeLoaded" style="display:none;"></iframe>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="./bucket_lister.js"></script>
    </body>
</html>
